.oeh_medical_vignette {
  padding: 8px 8px;
  min-height: 100px;
}

.oeh_medical_image, .oeh_medical_details {
  display: inline-block;
  vertical-align: top;
}




/*---------------------------------------------Akash ---------------------------------*/



.navbar-inverse .navbar-nav > li > a {
color:#fff;
}
.openerp .oe_leftbar {
  
background: #1278a9;
}
.oe_menu_leaf{
background-color:none;
}
.oe_secondary_menu_section{
font-weight: bold;
    margin-left: 12px;
    color: #00bcd4;}
.navbar-inverse {
background-color: #1278a9;  /*TOP MENU*/
    border-color: #01649f;
}
.oe_menu_text{
color:#fff;
font-size: 14px;
}

.openerp .oe_secondary_menu_section{     /*Side list menu title*/
      font-weight: bold;
    margin-left: 8px;
    color: skyblue;
    font-size: 15px;
}
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a{
      background-color: darkorange;
      color: red;
      font-color:green;
    box-shadow: 0px 0px 1px 1px #6f6f6f;
    color: white;    
    border-radius: 0px;
}
.openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus, .openerp a.list-group-item.active a:hover, .openerp a.list-group-item.active a:focus{
  background-color: mediumvioletred;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  color: #fff;
  box-shadow: 0px 0px 1px 1px #6f6f6f;
    background-color: darkorange;
    font-style: lato italic;
    font-weight: bold;

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #253b50;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #01649f;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #1278a9;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: darkorange;
color: #fff;}



/*---------------------------------------------//Akash ---------------------------------*/












.oeh_medical_image {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-collapse: separate;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.oeh_medical_picture {
  width: 100px;
  height: auto;
  clip: rect(10px, 100px, 110px, 0px);
}

.oeh_medical_picture_wide {
  height: 100px;
  width: auto;
  clip: rect(0px, 115px, 100px, 15px);
}

.oeh_medical_details {
  width: 210px;
  font-size: 13px;
  padding: 2px 5px;
  color: #4c4c4c;
  min-height: 120px;
}

.oeh_medical_details h4 {
  margin: 0;
  font-size: 13px;
}

.oeh_medical_details h4 a {
  color: #4c4c4c;
}

.oeh_medical_details h4 a:hover {
  text-decoration: underline;
}

.oeh_medical_details ul {
  margin: 3px 0 5px;
  padding: 0;
  list-style: none;
}

.oeh_medical_details li {
  margin: 2px 0;
  padding: 0;
}

.openerp .oeh_medical_vignette .oe_followers {
  width: auto;
  float: none;
}